div#top_div{
	background-color: #00ff99;
	margin-top: -25px;
}
h1#name{
	text-align: center;
	color: white;
	font-size: 50px;
}
h2#occupation{
	text-align: center;
	color: white;
	font-size: 40px;
	margin-top: -30px;
}
div#circle_1{
	margin-right: 30px;
}
div#circle_2{
	margin-right: 30px;
}
div#circle_3{
	/*margin-left: 475px;
	margin-right: 212px;*/
	/*margin-top: -110px;*/
}
.circles{
	background-color: White;
	border-color: Gray;
	border-radius: 100px;
	border-width: 2px;
	height: 100px;
	width: 100px;
}
div#bottom-top_div{
	height: 150px
}
div#chevron{
	background-color: White;
	border-color: Gray;
	border-radius: 100px;
	border-width: 2px;
	height: 50px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -25px;

}
h1#bottom{
	text-align: center;
}
p#About_Me{
	text-align: center;
}
img#landscape{
	margin-left: auto;
	margin-right: auto;
}

