div#top_div{
	background-color: #00ff99;
	margin-top: -25px;
}
h1#name{
	text-align: center;
	color: white;
}
h2#occupation{
	text-align: center;
	color: white;
}
div#circle_1{
/*	margin-left: 211px;
	margin-right: 474px;*/
}
div#circle_2{
	/*margin-left: 343px;
	margin-right: 339px;
	margin-top: -110px;
*/}
div#circle_3{
	/*margin-left: 475px;
	margin-right: 212px;*/
	/*margin-top: -110px;*/
}
.circles{
	background-color: White;
	border-color: Gray;
	border-radius: 100px;
	border-width: 2px;
	height: 100px;
	width: 100px;
}